body{
	background-color: rgba(0,0,150,.1);
	padding-top: 10px;
	color:#fff
}
.grids{
	margin-bottom: 20px;
	width:100%;
}/*box-flex这个版本的待测*/
.g-d{
	-webkit-box-flex: 200px;
	-webkit-flex:0 0 200px;
	flex:0 0 200px;
	background-color: rgba(150,50,100,.4);
}
.g-a{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
}/**/